.AWS, .AZU, .GCP {
  font-family: arial black;
  border-radius: 7px;
  width: 200px;
  height: 140px;
  text-align: center;
  font-size: 30px;
  background: white;
}

.ResGroup {
  font-family: arial black;
  border-radius: 7px;
  width: 200px;
  height: 140px;
  text-align: center;
  font-size: 30px;
  padding-right: 20px;
}
