button {
  font-family: arial black;
  margin-top: 7px;
  text-align: center;
  font-size: 15px;
  border: none;
  background: none;
}

button:hover {
  color: blue;
}

.Which {
  float: left;
  font-size: 32px;
}
