button {
  font-family: arial black;
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  border: none;
  background: none;
}

button:hover {
  color: blue;
}

.Which {
  float: left;
  font-size: 32px;
}

.Which:hover {
  color: black;
}
