.News1 {
  background-image: url("awsnews.jpg");
  font-family: arial black;
  border-radius: 7px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow: 5px 5px 5px grey;
}

.News2 {
  background-image: url("microsoft.jpg");
  font-family: arial black;
  border-radius: 7px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow: 5px 5px 5px grey;
}

.News3 {
  background-image: url("google.jpeg");
  font-family: arial black;
  border-radius: 7px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow: 5px 5px 5px grey;
}

.News4 {
  background-image: url("cloud.jpg");
  font-family: arial black;
  border-radius: 7px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow: 5px 5px 5px grey;

}

.News1:hover, .News2:hover, .News3:hover, .News4:hover {
  height: 160px;
  width: 270px;
}
